<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><img ng-src="img/logo_completo_PNG.png" alt="Git in Travel Market" class="img-responsive center-block img-principal"></h1>
        </div>
        <h3>Get in Travel</h3>

        <form role="form" ng-submit="login()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" required="" autocomplete="off" ng-model="vm.username">
            </div>
            <div class="form-group">
                <input autocomplete="off" type="password" class="form-control" placeholder="Contraseña" required="" ng-model="vm.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
        </form>
        <p><strong>diper</strong> - 2017</p>
    </div>
</div>