<div id="wrapper">
    <div ng-include="'views/common/navigation.html'"></div>
    <div id="page-wrapper" class="gray-bg">
        <div ng-include="'views/common/topnavbar.html'"></div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <img ng-src="img/logo_completo_PNG.png" alt="Git in Travel Market" class="img-responsive center-block img-principal">
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'views/common/footer.html'"></div>
    </div>
</div>